@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-Regular.ttf");
  font-weight: 400;
  transition: all 0.5s ease; /* Added transition for font-face */
}

@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-Medium.ttf");
  font-weight: 500;
  transition: all 0.5s ease; /* Added transition for font-face */
}

@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-SemiBold.ttf");
  font-weight: 600;
  transition: all 0.5s ease; /* Added transition for font-face */
}

@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-Bold.ttf");
  font-weight: 700;
  transition: all 0.5s ease; /* Added transition for font-face */
}

:root {
  --dark-blue: #19325d;
  --darker-blue: #001c4b;
  --light-blue: #69abf1;
  --light-green: #4ab8a9;

  --fw-regular: 400;     
  --fw-medium: 500;      
  --fw-semi-bold: 600;   
  --fw-bold: 700;        
}


/* CSS RESET CODES */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*2. Remove default margin*/
* {
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Epilogue", sans-serif;
  font-weight: var(--fw-regular);
  overflow-x: hidden;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/*MAIN CSS CODE FOR WEBSITE*/

/* Header Area*/


.header-container {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 4rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid blue; */
}

/* Logo and Navigation Container*/
.logo-nav {
  display: flex;
  gap: 80px;
  align-items: center;
}

/*Logo Image*/
.logo img {
  width: auto;
  height: 2rem;
  line-height: 5rem;
  cursor: pointer;
}

/* Navigation | ul*/
.navigation {
  display: flex;
  gap: 52px;
  list-style: none;
  transition: transform 350ms ease-in;
}
.navigation a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: var(--fw-medium);
  transition: transform 350ms ease-in;
}
.navigation a:hover{
  color: var(--light-green);
  transition: transform 350ms ease-in;
}

/* Hide Mobile Navigation*/
.mobile-nav-toggle {
  display: none;
}
/* Header Buttons Container*/
.header-buttons {
  display: flex;
  gap: 20px;
}

/* Header Buttons*/
.header-buttons a {
  text-decoration: none;
  font-weight: var(--fw-medium);
  transition: transform 350ms ease-in;
}

/* Header Button-1*/
.header-buttons .btn-1 {
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
}

.header-buttons .btn-1:hover{
  background-color: #f0f6fe;
}

/* Header Button-2*/
.header-buttons .btn-2 {
  padding: 0.813rem 1.25rem;
  background-color: var(--darker-blue);
  color: #fff;
}

.header-buttons .btn-2:hover{
  background-color: var(--dark-blue);
}

/* Hide Navigation Links with the class "hidden" */
.hidden {
  display: none;
}


/* Hero Section || Section 1 */
.hero-container {
  padding: 0 4rem;
  background-color: var(--darker-blue); 
  display: flex;
  gap: 20px;
  height: 650px;
  justify-content: center;
  align-items: center;
}

/* Hero Text || Hero Section */

.hero-text h1 {
  max-width: 50rem;
  font-size: 48px;
  line-height: 58px;
  font-weight: var(--fw-semi-bold);
  color: #fff;
}
.hero-text h1 span {
  color: var(--light-blue);
}
.hero-text p {
  font-size: 18px;
  color: #fff;
  margin-top: 2.5rem;
  line-height: 28px;
  max-width: 36rem;
}

/* Hero Image || Hero Section */
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-image img {
  width: 700px;
  object-fit: contain;
}

/* --Solutions Section || Section 1--*/
.solutions-container {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 650px;
  align-items: center;
  text-align: center;
}
.solutions-container h1 {
  color: var(--dark-blue);
}
.solutions-container p{
  color: #6d7d97;
  font-size: 18px;
}

.solutions-container img {
  width:100%;
  height: auto;
  background-size: cover
}

.solutions-container .image-div {
  background-image: url('/Images/solutions.svg');
  height: 100%;
  width: 100vw;
  background-repeat: no-repeat;
}

.services-section {
  margin-top: -100px;
}

/* ----services-container---*/
.services-container {
  padding: 0 4rem 5rem 4rem; 
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.services-text{
  width: 50%;
}
.services-text h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--fw-semi-bold);
  color: var(--darker-blue);
}

.services-text p {
  color: #6d7d97;
  line-height: 24px;
  margin-top: 30px;
}

/* services Image || services Section */
.services-image {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-image img {
  object-fit: contain;
}

.africa-container {
  padding: 5rem 4rem;
  background-color: var(--darker-blue);
}

.africa-container h1{
  color: #fff;
}
.africa-container p{
  color: #fff;
}

/* Impact Section*/
.impact-container {
  padding: 2rem 4rem 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.grid-item img{
  max-width: 20%;
  max-height: 20%;
}
.grid-item h1 {
  font-size: 16px;
  color: var(--dark-blue);
}
.grid-item p {
  color: #6d7d97;
}

/* about Section*/
.about-container{
  padding: 2rem 4rem;
  border-top: 1px solid var(--light-green);
}
.about-container h1{
  color: var(--light-green);
  padding-right: 120px;
}


/* Marquee Section*/
/* .marquee {
    overflow: hidden;
  } */

  
  .marquee-content {
    padding: 2rem;
    display: flex;
    animation: scrolling 30s linear infinite;
  }

   .marquee-content {
    padding: 2rem;
    display: flex;
    /* animation: scrolling 30s linear infinite; */
  }
  #marquee-1 {
    animation: scrollingLeft 30s linear infinite;
  }

  #marquee-2 {
    animation: scrollingRight 30s linear infinite;
  }

  @keyframes scrollingLeft {
    10% { transform: translateX(0); }
    100% { transform: translatex(100%); }
  }

  @keyframes scrollingRight {
    10% { transform: translateX(20); }
    100% { transform: translatex(-100%); }
  }
  
  
  .marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;
    flex: 0 0 15vw;
    margin: 0 0;
  }
  
  .marquee-item img {
    display: block;
    width: 100%;
    /* padding: 0 20px; */
  }
  
  /* @keyframes scrolling {
    10% { transform: translateX(20); }
    100% { transform: translatex(-144vw); }
  } */

.global-container {
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.global h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--fw-bold);
  color: var(--dark-blue);
}

.global p {
  margin-top: 10px;
  line-height: 24px;
  color: #6d7d97;
}

.green-container {
  background-color: var(--light-green);
}
.green-container h1{
  color: #fff;
  line-height: 24px;
  font-weight: var(--fw-medium);
}

.green-container p {
  padding-top: 10px;
  color: #fff;
  line-height: 24px;
}

.empty-container {
  min-height: 200px;
}

.form-container {
  padding: 5rem;
  align-items: center;
  text-align: center;
}

/* Conatact Form Section*/
.form-container{
  background-color: #001c4b;
}
.form-container h1, p{
  color: #fff;
}
.form-container p{
  margin-top: 20px;
}
form {
  background-color: transparent;
  border-radius: 8px;
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  max-width: 600px;
  margin: 0 auto;
}

label {
  text-align: left;
  color: #fff;
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
  border: none;
  /* You can also specify other styles you want on focus here */
}
textarea {
  resize: vertical;
  height: 250px;
}

.error {
  display: none;
  text-align: left;
  color: #f87171; /* Red color for the error text */
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 5px; /* Add some space between the input and the error message */
}

input:focus, textarea:focus {
  outline: none;
  border: none; /* Remove border on focus */
  /* You can specify other styles you want on focus here */
}

button {
  background-color: var(--light-green);
  color: #fff;
  width: 100%;
  /* padding: 20px 40px; */
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4ab8a9;
}

.footer-container {
  justify-content: start;
  background-color: #00163c;
  padding: 2rem;
  /* background-color: var(--darker-blue); */
}


/* RESPONSIVE DESIGN CSS*/ 

@media (max-width:1023px) {

  body {
    overflow-x: hidden;
  }

/* Reveal Hiiden links*/
  .hidden {
    display: block;
  }
  /*Navigation For Mobile*/
  .navigation {
    position: fixed;
    height: 40%;
    margin: 0;
    display: none;
    inset: 0 0 50% 0%; /* Position navigation to the right side */
    flex-direction: column; /* Stack navigation items vertically */
    padding: 1rem 2rem; /* Adjust padding for smaller screens */
    background-color: #fff;
    transform: translateX(0%);
    transition: transform 350ms ease-in;
    /* border-bottom: 1px solid ; */
  }

  .navigation[data-visible="true"] {
    transform: translateY(20%);
    display: flex;
    gap: 20px;
    /* padding-bottom: 0px; */
}

  .navigation li {
    text-align: left;
  }
  .navigation a{color: #000;}

  /*Hide Header Buttons*/
  .header-buttons {
    display: none;
  }
   /*Header Container*/
  .header-container{
    padding: 0;
    justify-content: center;
  }
   /*Logo and Navigation Container*/
  .logo-nav {
    gap: 0px;
  }

  /*Toggle Button*/
  .mobile-nav-toggle {
    display: block;
    position:absolute;
    top: 1.5rem;
    left: 2rem;
    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
    background-image: url('/Images/shared/icon-hamburger.svg');
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border: 0;
    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url('/Images/shared/icon-close.svg');
}


body {
  overflow-x: hidden;
}
.hero-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2rem;
}

.hero-image img{
  width: 100%;
}

.impact-container {
  padding: 5rem 2rem;
  display: grid;
  gap: 30;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
.impact-container img {
  max-width: 15%;
  max-height: 15%;
}


}

@media (max-width: 639px) {
  .hero-container{
    padding: 2rem 1rem;
  }
  .hero-container h1 {
    max-width: 42rem;
    font-size: 36px;
    line-height: 43px;
  }
  .hero-container p{
    margin-top: 20px;
    line-height: 2rem;
    max-width: 36rem;
  }
  .services-container{
    display: flex;
    padding: 0 2rem 4rem 2rem;
    flex-direction: column;
  }
  .services-image{
    width: 100%;
  }
  .services-text {
    width: 100%;
  }
  .africa-container {
    padding: 5rem 2rem;
  }

  .impact-container {
    padding: 2rem;
    display: grid;
    gap: 20;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  .impact-container .grid-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .grid-item h1, p{
    margin: 2px 0;
  }
  .grid-item img {
    width:50%;
    height: 100%;
    object-fit: contain;
  }
  .about-container h1 {
    font-size: 24px;
    line-height: 32px;
    padding-right: 30px;
  }
  .about-container p {
    line-height: 1.5;
  }
  .about-container{
    padding-top: 2rem;
    flex-direction: column-reverse;
  }
  /* .marquee-content img {
    width: 100%;
    height: 100%;
  } */

 .impact-container .green-item {
  text-align: left;
  align-items: start;
 }

  .global-container {
    padding: 2rem;
    width: 100%;
    text-align: center;
  }
  .global-container h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .empty-container {
    min-height: 50px;
  }

  .form-container {
    padding: 2rem;
    align-items: center;
    text-align: center;
  }

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
}
